assets/js/*.js
build
# Ignore dependencies
node_modules
vendor
.github
package-lock.json
coverage-integration*
coverage-unit*
# Ignore config files
webpack.config.js
jest.config.js
phpunit.unit.xml
phpunit.integration.xml
babel.config.js
