# Ignore dependencies
node_modules
vendor
.github

# Ignore build output
dist/

# Ignore specific files
admin/**/*.min.js
public/**/*.min.js
build
package-lock.json
assets/js/chart.js
assets/js/chartjs-plugin-zoom.js
