name: Build Plugin

on:
  push:
    branches:
      - testing
  workflow_dispatch:

jobs:
  build:
    uses: christophherr/ch-actions/.github/workflows/build-plugin.yml@main
    with:
      php-version: "8.0"

