name: Test Plugin

on:
  pull_request:
  push:
    branches:
      - main
      - develop
      - testing

jobs:
  tests:
    uses: christophherr/ch-actions/.github/workflows/test-plugin.yml@main
    with:
      php-version: "8.0"

